* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to right, #e22865, #37adcd);
    color: white;
}

.box_container {
    margin: auto;
    width: 70%;
    display: flex;
}

.attendanceList {
    width: 10600px;
    min-height: 100vh;
    margin: auto;
}

.attendanceList h1{
    font-size: 2.5rem;
    margin-top: 1em;
}

input {
    font-family: inherit;
    font-size: 2rem;
    outline: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    width: 40%;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

input:focus{
    box-shadow: 0 0 5px #e22865;
    border: 1px solid #e22865;
}

#clearList {
    position: absolute;
    width: 7%;
    height: 65px;
    margin-left: 10px;
    font-family: inherit;
    font-size: 1.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

#clearList:hover{
    background-color: #45a049;
    box-shadow: 0 0 5px #37adcd;
}

.attendance {
    width: 40%;
    margin: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 2px;
    padding: 16px;
    color: #454545;
    background-color: white;
    margin-top: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.item:hover{
    box-shadow: 0 0 20px #e22865;
    border: 1px solid #e22865;
}

.item i{
    cursor: pointer;
    margin: 0 5px;
}
