* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.box_container {
    margin: auto;
    width: 70%;
    display: flex;
}

.attendanceList {
    width: 10600px;
    min-height: 100vh;
    margin: auto;
}

.attendanceList h1{
    font-size: 2.5rem;
    margin-top: 1em;
}

input[type='text'] {
    font-family: inherit;
    outline: 0;
    font-size: 2rem;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 20px;
    width: 40%;
}

#clearList {
    position: absolute;
    width: 7%;
    height: 65px;
    margin-left: 10px;
    font-family: inherit;
    font-size: 1.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

#clearList:hover{
    background-color: #45a049;
}

#studentList h2{
    margin-left: 20%;
    margin-right: 10px;margin-top: 15px;
    font-size: 2rem;
}